<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Azure.Search.APIKey.Admin" value="B91C9BD027AC66B0AFA7D93710BA404A"/> <!-- admin key -->
    <add key="Azure.Search.ServiceName" value="ihdirectory"/>
    <add key="Azure.Search.IndexName" value="ihprodadpeople"/>
    <add key="LDAPRoot" value="LDAP://dc=corp,dc=integris-health,dc=com"/>
  </appSettings>
</configuration>