<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Azure.Search.APIKey.Admin" value="F75A479859CB384CA7AD91FFB1DF7307"/>
    <!-- admin key -->
    <add key="Azure.Search.ServiceName" value="ihdirectory"/>
    <add key="Azure.Search.IndexName" value="ihprodadpeople"/>
    <add key="LDAPRoot" value="LDAP://dc=corp,dc=integris-health,dc=com"/>
    <add key="RefreshInterval" value="86400000"/>
  </appSettings>
</configuration>